.OAD{
  padding: 50px 0;
  position: relative;
  height: calc(100% - 353px - 50px - 229px);
  &__menu{
    background: white;
    border: 2px #000 solid;
    padding: 20px;
    width: 30%;
    height: 100%;
    z-index: 1;
  }
  &__item{
    font-size: 20px;
    margin-top: 20px;
  }
  &__area{
    cursor: pointer;
    font-size: 18px;
    &-active{
      color: #006400;
    }
  }
  &__areas{
    transform: translateY(-100%);
    text-align: left;
    display: none;
    &-active{
      display: block;
      transform: translateY(0);
    }
  }
  .title{
    text-align: center;
    margin-bottom: 25px;
}
  &__top{
    margin-top: 1300px;
  }
  &__lower{
    margin-top: 400px;
  }
  &__thing{
    .OAD__cart{
      max-width: 60%;
      position: absolute;
      right: 4%;
      top: 140px;
      &s{
        display: flex;
        column-gap: 20px;
        flex-direction: column;
        position: absolute;
        right: 4%;
        top: 140px;
        max-width: 50%;
        .OAD__cart{
          position: relative;
          top: auto;
          right: auto;
        }
      }
    }
  }
  &__cart{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
  &__right{
    position: relative;
}
  &__table{
    border-collapse: collapse;
    margin: 0 auto;
}
  &__td{
    padding: 20px 5px;
    border: 2px solid black;
    font-size: 16px;
    text-align: center;
}
  &__title{
    font-size: 18px;
      color: white;
}
  &__desk{
    color: white;
    font-size: 20px;
}
  &__info{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 25%, rgba(9,120,121,1) 67%, rgba(8,128,133,1) 70%, rgba(0,212,255,1) 100%);
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    column-gap: 8px;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: -10px;
    margin: 0 auto;
}
}
.wrap{
  margin-top: 40px;
}

@media (max-width: 768px) {
.OAD{
  .title{
    font-size: 17px;
}
  &__title{
    font-size: 7px;
}
  &__desk{
    font-size: 10px;
  }
  &__td{
    padding: 10px 1px;
    font-size: 10px;
}
  &__item{
    font-size: 10px ;
  }
  &__area{
    font-size: 7px;
  }
  &__top{
    margin-top: 650px;
  }
  &__lower{
    margin-top: 200px;
  }
}
}

@media (max-width: 425px) {
  .OAD{
    &__td {
      font-size: 8px;
    }
    &__top{
      margin-top: 550px;
    }
    &__lower{
      margin-top: 100px;
    }
  }
}

@media (max-width: 375px) {
  .OAD{
    .title{
      font-size: 15px;
    }
    &__title{
      font-size: 5px;
    }
    &__td{
      font-size: 7px;
    }
  }
}