.fifth{
  padding: 50px 0;
  text-align: center;
  border-bottom: 1px solid darkgray;
  &__maps{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    margin-top: 35px;
  }
}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
  .fifth{
    &__maps{
      flex-direction: column;
    }
    iframe{
      width: 300px;
      height: 300px;
    }
  }
}

@media (max-width: 425px) {

}

@media (max-width: 375px) {
  .fifth{
    iframe{
      width: 200px;
      height: 200px;
    }
  }
}

@media (max-width: 320px) {

}