.fourth{
  padding: 50px 100px;
  border-bottom: 1px solid darkgray;
  position: relative;
  background: url("./assets/list.svg") center/cover no-repeat fixed white;
  .mySwiper{
    padding-bottom:50px;
  }
  &__input{
    outline: none;
    background: #006400;
    border: none;
    border-radius: 15%;
    color: white;
    font-size: 15px;
    margin: 20px 0 30px;
  }
  &__link{
    color: white;
    font-size: 14px;
    font-weight: 700;
}
  &__image{
    width: 173px;
    height: 173.77px;
    padding: 39px;
}
  &__cart{
    width: 300px;
    height: 400px;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 10px 5px 5px green;
    border: 1px solid green;
    border-radius: 20px;
    position: relative;
    background-color: white;
    .btn{
      background-color: green;
      border: 1px solid green;
      margin: 30px auto;
      &:hover{
        background-color: transparent;
    }
  }
    &-img{
      width: 173px;
      height: 100px;
  }
    &-title{
      font-size: 18px;
      font-weight: 700;
      color: green;
  }
}
  &__row{
    display: none;
}
}
.swiper{
  padding-bottom: 50px;
  &-pagination{
    margin-bottom: 0;
}
}

@media (max-width: 1200px) {
.fourth__cart{
  width: 250px;
  img{
    width: 146px;
}
}
}
@media (max-width: 992px) {
.fourth{
  .swiper{
    display: none;
}
  &__row{
    z-index: 1;
    justify-content: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    top: 40px;
}
}
}

@media (max-width: 425px) {
.fourth{
  padding: 50px;
  &__cart{
    width: 200px;
    &-img{
      width: 116px;
      height: 70px;
  }
    &-title{
      font-size: 14px;
  }
    .btn{
      width: 120px;
  }
}
  &__link{
    font-size: 12px;
}
  &__image{
    display: flex;
    justify-content: center;
    align-items: center;
}
}
}