.header{
  padding: 25px 0 25px;
  background-color: darkgreen;
  position: relative;
  .logo{
    &__title{
      color: #fff;
      position: absolute;
      left: 30%;
      text-align: center;
      max-width: 500px;
      &:hover{
        color: #00ff0a;
      }
    }
  }
  &__aside{
    &-link{
      font-size: 24px;
      color: #fff;
      font-weight: 500;
      &:hover{
        text-shadow: 1px 1px 5px #fff;
      }
    }
  }
  &__contacts{
    position: fixed;
    display: inline-block;
    top: 0;
    left: 0;
    transform: translateY(-115%);
    z-index: 10;
    padding: 50px 30px;
    background-color: #009579;
    box-shadow: 0 0 20px #000;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    &-active{
      transform: translateY(0);
    }
    li{
      padding: 10px 0;
      border-bottom: 1px solid #aeaeae;
      &:last-child{
        border: none;
      }
    }
  }
  &__translation{
    font-size: 18px;
    color: white;
    font-weight: 400;
    cursor: pointer;
    &:hover{
      color: #00ff0a;
    }
    &-active{
      color: #00ff0a;
    }
    &s{
      position: absolute;
      right: 10%;
    }
  }
  &__logo{
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &__menu{
    position: absolute;
      top: 25px;
      right: 35px;
      cursor: pointer;
    width: 50px;
    height: 36px;
  }
  &__aside {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(115%);
    width: auto;
    height: 100vh;
    overflow: auto;
    z-index: 10;
    padding: 50px 20px;
    background-color: #fff;
    box-shadow: 0 0 20px #000;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    &-active{
      transform: translateX(0);
    }
    .header__link{
      color: black;
      &-mini{
        font-size: 20px;
      }
  }
    &-x{
      position: absolute;
      top: 25px;
      right: 35px;
      cursor: pointer;
      width:30px;
      height: 30px;
    }
  }
  &__nav{
    display: flex;
    justify-content: end;
    align-items: center;
    column-gap: 313px;
    height: 50px;
  }
  &__desk{
    font-size: 14px;
    text-align: right;
    color: #fff;

  }
  &__item{
    margin-top: 20px;
    max-width: 300px ;
    .active{
      color: #00ff0a;
    }
  }
  &__link{
    color: aliceblue;
    font-size: 28px;
    &:active{
      color: #551A8B;
    }
    &:hover{
      color: #00ff0a;
    }
  }
  &__btn{
    background: #00ff0a;
    color: white;
    border: 1px solid #00ff0a;
    font-size: 20px;
    padding: 20px 25px;
    width: 150px;
    border-radius: 5px;
    &:hover{
      background: transparent;
      color: #00ff0a;
    }
  }
  &__areas{
    transform: translateY(-100%);
    text-align: right;
    display: none;
    &-active{
      display: block;
      transform: translateY(0);
    }
  }
  &__triangle{
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
    &-active{
      transform: rotate(0);
    }
  }
  &__thing{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  .header__link{
    font-size: 24px;
  }
}

@media (max-width: 1024px) {
  .logo__title{
    font-size: 18px;
  }
  .header__link{font-size: 15px}
}

@media (max-width: 768px) {
  .header{
    &__link{
      font-size: 0;
    }
    &__menu{
      z-index: 0;
    }
    &__list{
      flex-direction: column;
      padding: 10px 30px;
    }
    &__item{
      margin-top: 20px;
      width: 100%;
    }
    &__aside{
      .header__link{
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 480px) {
  .logo__title{
    font-size: 12px;
  }
  .header__menu{
    right: 0;
    top: 14px;
  }
}